<mat-card class="tred-show">
  <mat-card-header>
    <mat-card-title>
    <a routerLink="/board/{{ boardId }}">Назад в /{{ boardId }}</a> | {{ thread.title }}
    </mat-card-title>
    <mat-card-subtitle class="tred-post-count">
      Постов: {{ thread.post_count }}
    </mat-card-subtitle>
    <mat-card-subtitle class="tred-post-count">
      Уникальных коментаторов: {{ thread.unique_posters }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-divider class="tred-post-header-divider"></mat-divider>


    <app-post-show class="tred-content" *ngFor="let post of thread.posts" [post]="post"></app-post-show>
</mat-card>
