<mat-card-content id="{{ post.num }}" class="post">
    <p class="post-header">
      <span class="author" [innerHTML]="post.name"></span>
      <span class="postId">Post id: {{ post.num }}</span>
    </p>
    <mat-divider class="post-header-divider"></mat-divider>
    <p [innerHTML]="post.comment" class="post-comment"></p>

  <div *ngIf="post.files" class="post-files">
    <p *ngFor="let file of post.files">
      <a target="_blank" href="https://2ch.hk/{{ file.path }}">
        <img alt="{{ file.display_name }}" src="https://2ch.hk/{{ file.thumbnail }}">
      </a>
    </p>
  </div>
</mat-card-content>


<mat-divider class="comdiv"></mat-divider>


