<mat-card-content id="{{ post.num }}">
  <mat-card-content>
    <p class="author" [innerHTML]="post.name"></p>
    <a routerLink="/board/{{ post.boardId }}/thread/{{ post.threadId }}#{{ post.answerTo }}" *ngIf="post.answerTo">{{ post.answerTo }}</a>
    <p [innerHTML]="post.comment"></p>
  </mat-card-content>

  <div *ngIf="post.files">
    <p *ngFor="let file of post.files">
      <a target="_blank" href="https://2ch.hk/{{ file.path }}">
        <img alt="{{ file.display_name }}" src="https://2ch.hk/{{ file.thumbnail }}">
      </a>
    </p>
  </div>
</mat-card-content>


<mat-divider class="comdiv"></mat-divider>


