.mat-divider.comdiv {
  border-top-width: 10px;
  border-top-color: #121212;
}
.postId {
  color: #888888;
  font-size: 12px;
  display: block;
}
.post-header {
  margin-top: 40px;
}

.author {
  font-size: 16px;
  color: #888888;
}
.post-files {
  margin-top: 36px;
  margin-bottom: 16px;
}
.post-comment {
  margin-top: 28px;
}
