.content, .nav-wrapper {
  max-width: 1200px;
  margin:  0 auto;
}

.content {
  width: 100%;
  padding: 0 15px;
}

.nav-wrapper {
  padding: 0 15px;
}
.navbar {
  border-radius: 4px;
  margin: 20px 0;
  background: #424242;
}
