/* You can add global styles to this file, and also import other style files */

* { box-sizing: border-box; }
html, body { height: 100%; width: 100%; }
body {
  margin: 0;
  color: #eaeaea;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #121212;
  position: relative;
}
a {
  color: #356ce8;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
p {
  font-size: 16px;
}
strong {
  font-weight: 500;
}

.mat-divider.tred-post-header-divider,  .mat-divider.post-header-divider{
  border-top-width: 3px;
}
.mat-divider.post-header-divider {
  margin-bottom: 12px;
}

//
/* Tred-card */
//


.mat-card {
  background: #333;
  color: #eaeaea;
  word-break: break-word;
}
.mat-card-subtitle {
  color: #888888;
}
.mat-card-content {
  //padding-top: 16px;
  text-align: justify;
}
.tred-content:first-child .post-header{
  margin-top: 16px;
}
