<mat-card class="section-info" *ngIf="isLoading">
  <mat-card-content>
    <p>Борда загружается</p>
  </mat-card-content>
</mat-card>

<mat-card class="section-info" *ngIf="!isLoading">

    <span> name: {{ board.id }}</span>
    <span>Тредов: {{ board.threads_count }}</span>
    <i (click)="loadBoard(board.id)" class="material-icons board-update">autorenew</i>

</mat-card>

<div *ngIf="!isLoading">
  <mat-card class="tred" *ngFor="let thread of board.threads">
    <mat-card-header>
      <div mat-card-avatar class="tred-header-image">
      </div>
      <mat-card-title>
        <a [innerHTML]="thread.subject" class="tred-link" href="/board/{{ board.id }}/thread/{{ thread.num }}">{{ thread.subject }}</a>
      </mat-card-title>
      <mat-card-subtitle class="tred-post-count">
        Ответов: {{ thread.post_count }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-divider class="tred-divider"></mat-divider>

    <mat-card-content class="tred-content">
      <p [innerHTML]="thread.comment">Комент</p>
    </mat-card-content>

    <mat-divider class="tred-divider"></mat-divider>

    <mat-card-content class="tred-stat">
      <p class="tred-score">Рейтинг: {{ thread.score }}</p>
      <p class="tred-views">Просмотры: {{ thread.views }}</p>
    </mat-card-content>
  </mat-card>
</div>




