.section-info {
  margin-bottom: 50px;
}

.tred {
  margin-bottom: 25px;
}
.mat-card-content {
  padding-top: 16px
}
.tred-score, .tred-views {
  font-weight: 500;
  color: gray;
  font-size: 13px;
  margin-bottom: 0;
}
.tred-post-count {
  font-weight: 500;
}
.tred-header-image {
  background-image: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/9c/9cc82d1272888035907914bed18ceb92b24c9d63_medium.jpg');
  background-size: cover;
}
