.section-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.tred {
  margin-bottom: 25px;
}


.tred-post-count {
  font-weight: 500;
}
.tred-header-image {
  background-image: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/9c/9cc82d1272888035907914bed18ceb92b24c9d63_medium.jpg');
  background-size: cover;
}

.tred-content {
  margin-top: 16px;
}

.tred-stat {
  margin-top: 30px;
}

.tred-score, .tred-views {
  font-weight: 500;
  color: #888888;
  font-size: 13px;
  margin-bottom: 0;
}

.tred-divider {
  border-top-width: 2px;
}
